$green: #73E24D;
$brown: #E69F54;
$pink: #FF7D84;
$light-blue: #5A95F2;
$dark-blue: #0A5499;

@font-face {
    font-family: "Roboto";
    src: url(/src/resources/fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
}

h1 {
    display: none;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url(/src/resources/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
}

.card-wrapper {
    width: 1300px;
    height: 900px;
    background: #F4F6F9;
    border-radius: 50px;
    box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
}

.card {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr/ 10% auto;
    height: 100%;

    &__option-holder {
        margin-top: 50px;
        display: grid;
        justify-items: center;
    }

    &__sidebar {
        border-radius: 50px 0 0 50px;
        background: #FF5800;
    }

    &__body {
        border-radius: 0 50px 50px 0;
        background: #F4F6F9;
    }

    &__info-tile {
        padding-bottom: 20px;
        margin: 45px;
    }

    &__title {
        margin: 52px 0 0 63px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
    }
}

.option {
    height: 110px;

    &__image:hover {
        cursor: pointer;
        opacity: 1 !important;
    }

    &--main {
        height: 150px;
    }
}

.info-tile {
    width: 560px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &__title {
        display: flex;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid #D8DCE3;

        &--with-button {
            justify-content: space-between;
        }
    }

    &__title-text {
        margin: 20px 25px;
    }

    &__list {
        margin: 5px 25px;
    }
}

.button {
    width: 150px;
    height: 30px;
    background: #E4E4E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    border: none;

    &:hover {
        background: #8888;
        cursor: pointer;
    }
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    &--bold {
        font-weight: bold;
    }

    &--dark-blue {
        color: $dark-blue;
    }

    &--light-blue {
        color: $light-blue;
    }

    &--pink {
        color: $pink;
    }

    &--brown {
        color: $brown;
    }

    &--green {
        color: $green;
    }
}

.list__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 30px;
}

.bulletpoint {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50px;

    &--pink {
        background-color: $pink;
    }

    &--green {
        background-color: $green;
    }
}

.info-tile__content {
    margin: 10px 27px;
    display: grid;
    grid-gap: 5px;
}

.line-text {
    padding-left: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 35% auto;

    &--with-border {
        border-bottom: 1px solid #D8DCE3;
    }
}

.flow-elements {
    position: relative;

    &__planets {
        height: 438px;
        width: 438px;
        position: absolute;
        background-image: url('/src/resources/space objects/023-astronomy\ 1.svg');
        background-size: contain;
        background-repeat: no-repeat;
        border-top-right-radius: 50px;
        top: 0;
        left: 733px;
    }

    &__spaceship {
        height: 410px;
        width: 410px;
        position: absolute;
        background-image: url('/src/resources/space objects/025-rocket\ 3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: 390px;
        left: 700px;
    }
}
