input[type="radio"] {
  opacity: 0;
}

label {
  position: relative;
}

label:hover {
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid black;
  left: -20px;
  top: 4px;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  left: -20px;
  top: 4px;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #73e24d;
  border-radius: 50px;
  border: none;
  left: -19px;
  top: 5px;
}

@font-face {
  font-family: "Roboto";
  src: url("./resources/fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
}

h1 {
  display: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("./resources/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-wrapper {
  width: 1300px;
  height: 900px;
  background: #f4f6f9;
  border-radius: 50px;
  -webkit-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
}

.card {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 10% auto;
      grid-template: 1fr/ 10% auto;
  height: 100%;
}

.card__option-holder {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.card__sidebar {
  border-radius: 50px 0 0 50px;
  background: #ff5800;
}

.card__body {
  border-radius: 0 50px 50px 0;
  background: #f4f6f9;
}

.card__info-tile {
  padding-bottom: 20px;
  margin: 45px;
}

.card__title {
  margin: 52px 0 0 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.option {
  height: 110px;
}

.option__image:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.option--main {
  height: 150px;
}

.info-tile {
  width: 560px;
  background: #ffffff;
}

.info-tile__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #d8dce3;
}

.info-tile__title--with-button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-tile__title-text {
  margin: 20px 25px;
}

.info-tile__list {
  margin: 5px 25px;
}

.info-tile__content {
  margin: 10px 27px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}

.info-tile__content--with-picture {
  grid-auto-flow: column;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
}

.info-tile__image {
  width: 90px;
  height: 90px;
}

.info-tile--size-smaller {
  width: 500px;
}

.info-tile--size-smallest {
  width: 353px;
}

.info-tile--basic-border {
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.info-tile--option-border {
  border: 1px solid black;
  border-radius: 10px;
}

.spaceships-container {
  height: 376px;
  overflow: auto;
  margin: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 37% 1fr;
      grid-template: 1fr 1fr / 37% 1fr;
  grid-gap: 40px 0;
}

.spaceships-option {
  padding: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
}

.spaceships-option__image {
  width: 80px;
  height: 80px;
}

.spaceships-option__bottom-bar {
  text-align: center;
  background: #d1e1fa;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid black;
}

.button {
  width: 150px;
  height: 30px;
  background: #e4e4e4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  border: none;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button--green {
  background: #73e24d;
  color: white;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.text--bold {
  font-weight: bold;
}

.text--dark-blue {
  color: #0a5499;
}

.text--light-blue {
  color: #5a95f2;
}

.text--pink {
  color: #ff7d84;
}

.text--brown {
  color: #e69f54;
}

.text--green {
  color: #73e24d;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 0 30px;
}

.bulletpoint {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

.bulletpoint--pink {
  background-color: #ff7d84;
}

.bulletpoint--green {
  background-color: #73e24d;
}

.line-text {
  padding-left: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 35% auto;
      grid-template: 1fr / 35% auto;
}

.line-text--option-padding {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 100px auto;
      grid-template: 1fr / 100px auto;
}

.line-text--with-border {
  border-bottom: 1px solid #d8dce3;
}

.flow-elements {
  position: relative;
}

.flow-elements__planets {
  height: 438px;
  width: 438px;
  position: absolute;
  background-image: url("/src/resources/space objects/023-astronomy 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-top-right-radius: 50px;
  top: -45px;
  left: 733px;
}

.flow-elements__spaceship {
  height: 410px;
  width: 410px;
  position: absolute;
  background-image: url("/src/resources/space objects/025-rocket 3.svg");
  background-size: 410px;
  background-repeat: no-repeat;
  top: 390px;
  left: 700px;
}

.person-selected {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 45px;
}

.person-container {
  height: 430px;
  overflow: auto;
  margin: 45px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px 0;
}

.person-container__line-text {
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 30fr 2fr;
      grid-template-columns: 5fr 30fr 2fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-container__icon {
  width: 40px;
}

.person-container--padding {
  padding-bottom: 20px;
}

.icon {
  width: 20px;
  padding-left: 10px;
}

.input {
  position: relative;
  top: -15%;
  padding: 0 10px;
  border-radius: 10px;
  border: solid black 1px;
}

.input:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */